@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark light;
}

body {
  @apply bg-slate-950 text-slate-100 antialiased scroll-smooth;
}

main {
  @apply flex min-h-screen flex-col gap-24 pb-24;
}

section {
  @apply scroll-mt-24;
}

::selection {
  background-color: theme('colors.ferrari');
  color: theme('colors.white');
}
